// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within the component's respective directory.

@import 'breakpoints';
@import 'css-variables';
@import 'base';
@import 'blocks';
@import 'utilities';
.albums{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}